aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
blinker
build
CacheControl
cachetools
certifi
charset-normalizer
cleo
click
colorama
comm
crashtest
dataclasses-json
debugpy
decorator
distlib
distro
dulwich
exceptiongroup
executing
faiss-cpu
fastjsonschema
filelock
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
installer
ipykernel
ipython
jaraco.classes
jedi
Jinja2
jiter
joblib
jq
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keyring
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
more-itertools
msgpack
multidict
mypy-extensions
narwhals
nest-asyncio
numpy
openai
orjson
packaging
pandas
parso
pexpect
pillow
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyproject_hooks
python-dateutil
python-dotenv
pytz
# pywin32
# pywin32-ctypes
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-toolbelt
rich
rpds-py
scikit-learn
scipy
shellingham
six
smmap
sniffio
SQLAlchemy
stack-data
streamlit
tenacity
threadpoolctl
tiktoken
toml
tomli
tomlkit
tornado
tqdm
traitlets
trove-classifiers
typing-inspect
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
yarl
zipp
